@import "tailwindcss/base";
@import "tailwindcss/components";

@import 'var';
@import 'btn';
@import 'type';
@import 'page-content';

@import 'utilities/container-wrapper';
@import 'utilities/image-responsive';
@import 'utilities/reel';
@import 'utilities/auto-grid';
@import 'utilities/full-bleed';
@import 'utilities/flow';
@import 'utilities/image-overlay';
@import 'utilities/cluster';

@import "tailwindcss/utilities";

/*! purgecss start ignore */

[data-state='active']{
    @apply text-primary-400;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  @apply text-400;
  -webkit-text-fill-color: theme('colors.black');
  -webkit-box-shadow: 0 0 0px 1000px #EFDBCF inset;
  transition: background-color 5000s ease-in-out 0s;
}

.image-border{
  @apply before:border-4 relative before:border-primary-400 before:absolute before:w-full before:h-full z-10;
}

.offset-border--big{
  @apply before:top-50 before:left-50 before:rounded-2xl;
}

.offset-border--big img{
  @apply rounded-2xl;
}

.offset-border--small{
  @apply before:top-2.5 before:left-2.5 before:rounded-xl;
}

.offset-border--small img{
  @apply rounded-xl;
}

.image-border::before{
  z-index: -1;
}

.image-border img{
  @apply w-full h-full;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

[x-cloak] {
  display: none !important;
}

/*! purgecss end ignore */

.flex-auto-flow{
  display: flex;
  flex-wrap: wrap;
}

.flex-auto-flow > *{
  flex: 1 1 var(--auto-size, 20rem);
}

.columns-split > div{
  columns: 20rem 2;
  gap: var(--size-600);
}

.columns-split > div > *{
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

@layer utilities {
  @responsive {
    .space-100{
      --space: var(--size-100);
    }
    .space-200{
      --space: var(--size-200);
    }
    .space-300{
      --space: var(--size-300);
    }
    .space-400{
      --space: var(--size-400);
    }
    .space-500{
      --space: var(--size-500);
    }
    .auto-size-small{
      --auto-size: 16rem;
    }
    .auto-size-mid{
      --auto-size: 20rem;
    }
    .auto-size-large{
      --auto-size: 24rem;
    }
    .auto-size-xl{
      --auto-size: 28rem;
    }
    .measure-10 {
      max-width: 10ch;
    }
    .measure-15 {
      max-width: 15ch;
    }
    .measure-20 {
      max-width: 19ch;
    }
    .measure-25 {
      max-width: 25ch;
    }
    .measure-30 {
      max-width: 30ch;
    }
    .measure-35 {
      max-width: 35ch;
    }
    .measure-40 {
      max-width: 40ch;
    }
    .measure-45 {
      max-width: 45ch;
    }
    .measure-50 {
      max-width: 50ch;
    }
    .measure-60 {
      max-width: 60ch;
    }
    .measure-65 {
      max-width: 65ch;
    }
    .measure-70 {
      max-width: 70ch;
    }
    .measure-80 {
      max-width: 80ch;
    }
    .measure-90 {
      max-width: 90ch;
    }

    .flex-basis-0 {
      flex-basis: 0;
    }
    .flex-basis-10 {
      flex-basis: 10ch;
    }
    .flex-basis-20 {
      flex-basis: 20ch;
    }
    .flex-basis-25 {
      flex-basis: 25ch;
    }
    .flex-basis-30 {
      flex-basis: 30ch;
    }
    .flex-basis-35 {
      flex-basis: 35ch;
    }
    .flex-basis-40 {
      flex-basis: 40ch;
    }
    .flex-basis-50 {
      flex-basis: 50ch;
    }
    .flex-basis-60 {
      flex-basis: 60ch;
    }
  }
}
