@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppinsBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppinsLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "helveticaNeue";
  src: url("/fonts/helveticaNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "helveticaNeue";
  src: url("/fonts/helveticaNeueRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{
  @apply font-heading leading-tight font-bold;
}

  h1, .h1{
    @apply text-800 leading-flat tracking-tight;
  }
  
  h2, .h2{
    @apply text-600 tracking-tight;
  }
  
  h3,.h3{
    @apply text-500;
  }

  h4, .h4{
    @apply text-400;
  }

  h5, .h5{
    @apply text-300;
  }

